@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(199, 201, 233);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 3rem;
  color: rgb(70, 62, 62);
}

#p {
  margin-bottom: 30px;
}

#btn {
  border: none;
  height: 40px;
  width: 175px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
}

#btn:hover {
  background-color: cornflowerblue;
  transition: all 0.23s ease;
  color: white;
}

.remove {
  opacity: 0;
}

.video-container {
  color: rgb(49, 49, 47);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
